{% extends "layout.html" %}

{% block title %}About this app{% endblock %}

{% block heading_title %} About this app{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text">
            <form id="aboutform" name="aboutform" role="form" action="about" method="post" class="registration-form">
                <fieldset class="description" style="color:#fff;">
                    <div class="description">
                    <p>
                        goSecure v18.8.3<br><br>

                        Forked from <a id="nsacyber" href="https://github.com/nsacyber/goSecure" target="_blank">https://github.com/nsacyber/goSecure</a><br><br>

                        Dave Dittrich &lt;dave.dittrich@gmail.com&gt;<br><br>

                        <a id="homepage" href="https://davedittrich.github.io/goSecure/index.html" target="_blank">goSecure Home Page</a><br><br>

                        </p>
                        <a id="training" href="https://davedittrich.readthedocs.io/projects/field-guide-security-training-campaign/en/latest/" target="_blank">Field Guide to Security Training in the Campaign</a><br><br>

                        <a id="issues" href="https://github.com/davedittrich/goSecure/issues" target="_blank">Report bugs or request a feature</a><br><br>

                        [<a id="license" href="https://github.com/davedittrich/goSecure/blob/master/LICENSE.md" target="_blank">License information</a>]<br><br>
                    </p>
                    </div>
                </fieldset>
                {{ form.csrf_token }}
            </form>
        </div>
    </div>

{% endblock %}
